<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Operation</th>
      <th>Content</th>
      <th>form</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.operation_id %></td>
        <td><%= question.content %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
