<h1>共通項目</h1>

<table>
  <thead>
    <tr>
      <th>共通項目入力</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
          
          <% @question.answers.each do |answer| %>
          <%= question.fields_for :answers, answer do |answer_field| %>
            <tr>
              <td><%= answer_field.text_field :content %></td>
            </tr>
          <% end %>
          <% end %>
      </tr>
    <% end %> 
  </tbody>
</table>


<%= link_to '次へ', operations_path %>























