
<% if current_user.first_time == 0 %>
<%= render 'shared/common_form' %>
<% end %>


<% if current_user.first_time == 1 %>
<%= render 'shared/common2_form' %>
<% end %>

















































































<!-- build 
一個ずつフォーム書く
対応するquestion を引っ張って来る。
ココからanswer をbuild する。
新しく作る。
@question.content = Question.find_by(id: 1)
@question.build_answer
 -->
<%#= form_for(@question) do |f| %>

<!-- type によってif 文で分ける。 -->


<!-- if(type  == kao)
render 'face_form' -->




<!-- <div>◆以下の質問にご回答をお願いします◆</div>  

1ヶ月以内にエステや病院で美容治療を受けましたか？

<#%= form_for(Question.find(1).answers.build) %>
  <%#= select_tag %>はい
  <%#= select_tag %>いいえ
# <#% end %> -->



<!-- content と一緒に送る。
user_id = current_user


共通パーシャル　

顔パーシャル　

質問に複数答える項目がある場合
はい　か　いいえ　が入る。content radio button のvalue を'はい'、いいえ。
 -->







