<!-- エクリシスフォーム -->

<%= render partial: 'question_form', locals: {id: 14, text: "エクシリスのご経験はありますか？"} %>

<%= render partial: 'question_form', locals: {id: 15, text: "治療をご希望の部分に皮膚疾患はありますか？"} %>

 <%#= link_to '次へ', id: "btn" %>
 <div id="btn">次へ</div>