<h2>再診</h2>
<h2>レーザートレーニング</h2>


<!-- レーザートレーニング -->

<%= render partial: 'questions/question_form', locals: {id: 58, text: "1ヶ月以内に日焼けをしましたか？"} %>


 <div id="btn">次へ</div>
<%#= link_to '次へ', id: "btn" %>