// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-information-wrapper
{
  width: 50%;
  margin: 0 auto 30px;
  font-size: 15px;
  background-color: white;
  padding: 30px 20px;
  border-radius: 3px;
  border: 1px solid #FFC0C0;
}

.user-information-wrapper h2
{
  padding-bottom: 10px;
}

.user-information
{
  padding: 10px 0
}

.user-item
{
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 5px;
}

.wrapper
{
  width: 50%;
  margin: 0 auto 20px;
  background: white;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #FFCBCB;
}

.question-td
{
  text-align: center;
}

.question-td label.changeArea
{
  padding: 0 5px;
}

.main-block
{
  padding: 50px 0 0 0;
}

.header-2
{
  border-bottom: 1px solid #999;
}

#contents
{
  background-color: #FCFCFC;
}

.question-table
{
  width: 100%;
}

.btn a
{
  color: white;
}