<!-- header  starts-->

<div class="outer">
      
      <div class="top-bar">
        
      
      <!-- Top bar ends -->
      
      <!-- Header two Starts -->
      <div class="header-2">
      
        <!-- Container -->
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <!-- Logo section -->
              <div>
                 <%= link_to root_path, class: "logo" do %>
                <h1><img src="/assets/logo.png"></h1>
                <% end %>
              </div>

            </div>
            <div class="col-md-9" style="padding-top: 30px;">

              <!-- Contact starts -->
              <div class="tb-contact pull-right">
                <!-- Email -->
                <i class="fa fa-envelope color"></i> &nbsp; <a href="mailto:contact@domain.com">info@aoba.com</a>
                &nbsp;&nbsp;  
                <!-- Phone -->
                <i class="fa fa-phone color"></i> &nbsp; +81 90 9999 9999
              </div>
              <!-- Contact ends -->
              
              
            </div>
          </div>
        </div>
      </div>




<!-- //header end -->