<h2>診断別質問項目</h2>
<hr>
<% if current_user.first_time == 0 %>
<%= render 'shared/specific_form' %>
<% end %>


<% if current_user.first_time == 1 %>
<%= render 'shared/specific2_form' %>
<% end %>
<br>
<h4 class="h44">全ての項目にご回答頂いた事を確認して、<br><br>
送信ボタンをクリックしてください。</h4><%= link_to '戻る', questions_path, class: "btn6" %>
<%= link_to "送信", sendmail_path, id: "btn", class: "btn2" %><br><br>
<hr>
