<h2>診断別質問項目</h2>
<hr>
<% if current_user.first_time == 0 %>
<%= render 'shared/specific_form' %>
<% end %>


<% if current_user.first_time == 1 %>
<%= render 'shared/specific2_form' %>
<% end %>
<br>


<%= link_to '戻る', questions_path, class: "btn3" %>
<%= link_to '確認', answer_path(current_user),  id: "btn", class: "btn2" %>
<br>
<hr>